{% extends 'hg_app/header.html' %}

{% block content %}
    <div class="container py-5">
    <h4>Popis hry</h4>
        <ul>
            <li>Hunger Games 0.2 je 20hodinová terénní akční hra s taktickými prvky. </li>
            <li>Hra se točí kolem zabíjení, kořistění, vratkých spojenectví a obsazování bodů na herním území. </li>
            <li> Veškeré informace během hry, jako kde se dají získat body nebo vybavení, budou k hráčům putovat prostřednictvím
                webové aplikace (přes data). </li>
            <li> Vyhraje ten, kdo bude mít nejvíce bodů, což bude spíše člověk, který je aktivní a
                odvážný, než člověk dobře schovaný.</li>
            </ul>

<h4>Obecná pravidla</h4>
Většina obecných pravidel se dá shrnout pod pravidlo N.K. - Nebuď Kretén!

Uvědomujte si, že jste si přijeli hlavně užít hru, vyhrát je na druhém místě - nebijte se pěstmi; řekněte druhému, pokud couvá dozadu do stromu nebo ze skály atd.

Pokud si myslíte, že něco není fér, tak to fér není a nedělejte to.

Hra probíhá na omezeném území. Z tohoto území není dovoleno vystupovat.

Hráč u sebe nesmí mít nic, co by jej zvýhodňovalo (např. batoh, taktická vesta, další jídlo...), mimo povolených předmětů získaných podle pravidel.

Zakazuje se jiná než fyzická komunikace s ostatními hráči (SMS, Messenger, email...).

Územím vedou turistické značky. Pokud potkáte civilistu, pěkně ho pozdravte, pokud bude třeba, přerušte boj. Jinak ale nevyužívejte civilistů jako zdroj jídla, informací ani jako zvědy.

Během akce je zakázána konzumace alkoholu a jiných návykových látek.

Organizátoři mají vždycky pravdu a můžou všechno.

Povinná výbava
Tyto věci jsou nutnou součástí výbavy každého hráče. Bez nich nelze začít hrát. Nelze je druhým krást.

Mobilní telefon s offline mapami (Mapy.cz), dostatečnou baterií na 24 h provozu a s GPS, 200 MB mobilních dat.

Půllitrová láhev vody

Šátek

Herní nůž (dostanete)

Kartička pojišťovny

Vlastní léky, pokud potřebujete v průběhu herní doby

Herní předměty
Patří sem

jídlo a voda (PET s logem HG)

měkčené zbraně

další drobnosti pro zvýšení komfortu nebo získání výhody v terénu (hlavně světlo)

oživovací balíčky (barevný obal od šumáku s listinou, která po roztržení přidá jeden velký život)

Tyto předměty jsou zcela herní, můžete si je navzájem krást, obchodovat s nimi...

Je zakázáno je ničit a úmyslně ztrácet.

Lze je získat během hry, a to z Rohu hojnosti (místo začátku hry) a z balíčků. Souřadnice balíčků budou sdíleny pomocí webové aplikace.

Vám nevyhovující herní předměty je možné odložit u Rohu hojnosti, jinde ne.

Herní území
Hraniční cesty je možné používat.

Součástí území jsou z důvodu zjednodušení hranic zastavěné oblasti (půlka Podomí a Senetářova), nezdržujete se v nich a nevyužívejte výhody, které nabízejí (obchod, voda od lidí...)

Pokud se omylem dostanete mimo herní území, vraťte se urychleně zpět.

Ke stažení zde: https://mapy.cz/s/papofedoso.


Komunikace
Hráč je povinen nahlásit:

ztrátu velkého života

kill/stealth kill

použití oživovacího balíčku

získání trofeje

...a to vše do 10 minut. Je to kvůli kontrole a udílení bodů.

Vše se zadává prostřednictvím webové aplikace.

Pamatujte na pravidlo N.K. a během zadávání se nezabíjejte, ale na druhou stranu to nepoužívejte jako obranný prvek.

Životy
Každý hráč má na začátku hry tři velké životy. Jsou symbolizovány stříbrnými plackami na viditelném místě (dostanete na startu). Ztrácíte je, pokud vás zabije jiný hráč nebo Lovec. Tyto životy lze obnovit oživovacím balíčkem, ale nikdo nemůže mít více než tři. Život ztrácíte, i když vám placka někde upadne.

Pokud nemáte žádný velký život, končíte hru a odcházíte na základnu. Oživit se nelze.

Během soubojů se uplatňují tři tzv. malé životy. Jsou to body zranění, které můžete utržit. Jste-li zasaženi do zásahové oblasti, o jeden malý život přicházíte. Pokud jste mimo boj (rozuměj: s nikým se nenaháním, nešermuju...) po dobu 10 min, všechny malé životy se vám dobijí.

Pokud přijdete o všechny tři malé životy, ztrácíte jeden velký život.

Na vyžádání jste povinni komukoliv oznámit počet malých životů.

Za určitých okolností, pokud vám zbyde jenom jeden velký život v první části hry, bude možné získat život navíc

Zabíjení
Zabíjení je možné dvěma způsoby: stealth killem nebo v obyčejném souboji.

Stealth kill je specifický úkon proveditelný pouze za určitých podmínek

Je to symbolický akt usmrcení bezbranné oběti, který musí proběhnout zcela bez boje a bez domluvy

Útočník přejede herním nožem oběti po krku, přičemž se oběť nesmí bránit

Pokud se oběti podaří uhnout, zabránit rukou nebo chytit útočníkovu ruku s nožem, stealth kill se nepodařil a dále se situace řídí pravidly běžného souboje

Podaří-li se stealth kill, oběť ztrácí ihned jeden velký život

Typické použití je podřezání spícího parťáka... Stealth kill nevypadá jako páčení rukou a bodání se navzájem do krku

Boj

Probíhá zbraní, papírovými koulemi nebo nožem a může se ho účastnit libovolné množství hráčů

Platí zde "dlouhý zásahový systém", tj. počítají se zásahy do kotníku a výš, do zápěstí a výš s tím, že hlava, krk a rozkrok jsou zakázané oblasti, na něž se nesmí útočit ani náznakem

Každému úderu musí předcházet přiměřený nápřah, kydlení není úder (zbraně jsou symbolické a umožňují nesmyslně rychlé slabé údery)

Pokud šlo pouze o teč nebo zásah oblečení, zásah se nepočítá. V případě nejasností má pravdu zasažený

Zásah znamená minus jeden malý život pro zasaženého

Zbraně na dálku (papírové koule) berou také jeden život

I nechtěný zásah je zásah (friendly fire platí).

Při boji je nejdůležitější bezpečnost.

Mrtvola
Mrtvolou se stáváte ve chvíli, kdy ztratíte jeden velký život (ne poslední).

Mrtvola leží/dřepí na zemi, nezapojuje se do hry, nemluví a počká, až souboj skončí. Přitom se nechá obrat (dá jakékoli herní předměty komukoli, kdo bude chtít)

Když obíráte mrtvolu, buď si její věci necháte, nebo je neberete. Žádné odhazování herních předmětů.

Když skončí souboj a nikdo nejeví zájem o kořistění, mrtvola odejde aspoň 100 m od ostatních, případně jiným směrem, než ostatní odešli, napočítá do 100 a tím se znovu oživí.

Jeden hráč nesmí zabít druhého dvakrát během 15 minut.

Point
Je to místo s papírem, kde můžete získat body.

Na papíru je napsán čas, kdy se otevírá; před tímto časem nesmí být otevřen.

Čas a pozice pointů budou oznamovány pomocí aplikace.

Uvnitř je předem neznámý počet trhacích kódů, které se započítají člověku, který je odešle pomocí aplikace.

Lístečky s kódy se nedají krást.

Jeden hráč může z jednoho pointu odeslat i utrhnout pouze jeden kód.

Kreativní činnost
Během celé hry je možné a užitečné fotit, točit vlogy, psát básně, eseje, namluvit své zážitky apod.

Jedná se hlavně způsob, jak hru zdokumentovat i na velkém území...

Lovci
Od sobotního rána se bude v herním území nacházet čím dál více Lovců agresivních a nepřátelských vůči hráčům. Disponují větším množstvím životů i lepšími zbraněmi než hráči, ale souboj s nimi probíhá podle běžných soubojových pravidel, kromě toho, že při zabití Lovce nelze ukořistit žádné jeho předměty. Lovce poznáte podle toho, že budou oblečení celí v černém s přesýpacími hodinami na tričku.
Bodování
Nejvíce bodů bude udělováno za stealth killy, další budou za killy a pak za pointy.

Přesné bodové hodnocení jednotlivých aktivit nebude zveřejněno.

Bezpečnost
V případě nouze lze přijít na základnu, je tam jídlo, teplo... Zdravotník bude mít stanoviště na Rohu hojnosti.

Základnou je pionýrská základna na těchto souřadnicích: 49.3340842N, 16.7761042E

Bylo by vhodné mít nainstalovanou aplikaci Záchranka.

Když je problém, volejte zdravotníkovi (608 832 327).

V případě nejasností s pravidly se můžete obrátit na hg@skaut.cz.
    </div>
{% endblock %}